# Python-virtuaaliympäristöt
venv/
__pycache__/
*.pyc
*.pyo

# Logi- ja tilapäistiedostot
*.log
*.sqlite3
*.db
*.pdb

# VSCode / Neovim / JetBrains -editorien asetukset
.vscode/
.idea/
*.swp
*.swo

# GitHub Codespaces
.python-version
.env

